# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

node_modules/


# Environment
.env
.env.*
!.env.example

# Python (optional)
__pycache__/
*.pyc
.venv/
venv/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Logs
*.log

# Build output
build/
.docusaurus/
